.wrapper {
    display: flex;
   
    align-items: center;
    gap: 42px;
    z-index: 10;
}


.text {
color: var(--brand-color-white);
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: left;

}