@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --brand-color-white:rgb(255, 255, 255);
    --brand-color-bg-black:rgb(35, 35, 49);
    --brand-color-bg-red: rgb(214, 11, 81);
    --brand-black: rgb(0, 0, 0);
    --brand-bg-form:#232331;
    --brand-form-field:rgb(217, 217, 217);
    --brand-color-bg-red-1:#c44e77;
    --brand-color-bg-section: rgb(245, 245, 245);

/* ----------------------- */
}
.container {
    width: 1512px;
    margin: 0 auto;
}

/* ----------Not Found -------------------- */

