.button {
/* border: 1px solid white; */
background-color: rgba(245, 245, 245, 0.3);
display: flex;
justify-content: center;
align-items: center;
}
.btnTitle {
    color: var(--brand-color-white);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}