.form {
    display: flex;
    flex-direction: column;
    width: 458px;
   
}
.input {
    background: var(--brand-color-white);
    width: 458px;
height: 58px;
margin-bottom: 8px;
}
.btn {
    background: var(--brand-color-bg-red);
    width: 273px;
  height: 66px;
  margin: 0 auto;

}
.formTitle {
width: 428px;
color: var(--brand-black);
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 43px;
}
.formTitle span {
  font-size: 20px;
font-weight: 700;
}


/* ------Стили плавающей метки */
.formContainer {
  display: flex;
   flex-direction: column;
  gap: 15px;
}

.inputWrapper {
  position: relative;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.label {
  position: absolute;
  top: 10px; /* Начальное положение */
  left: 10px;
  font-size: 14px;
  color: #999;
  transition: all 0.3s ease;
}

.input:focus + .label, /* Перемещаем метку вверх при фокусе */
.input.filled + .label { /* Перемещаем метку вверх при заполнении поля */
  top: -10px; /* Поднимаем метку */
  left: 10px; /* Сдвигаем метку влево */
  font-size: 12px;
  color: #333;
}
/* -------------Modal ------------- */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--brand-color-white);
  box-sizing: border-box;
  z-index: 1000;
  width: 500px;
  height: 300px;
}
.header {
  height: 50px;
  background-color: var(--brand-color-bg-red);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleModal {
color: var(--brand-color-white);
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.blockMessage {
  margin: 0 auto;
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  color: var(--brand-color-bg-red);
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.wrapperBtn {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnModal {
  background: var(--brand-color-bg-red);
  width: 273px;
  height: 66px;
}